build/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
Makefile

.vs/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

*.o
*.obj
*.a
*.lib

*.exe
*.out
